body{
    background-color: #cef1fc;
}
.mains{
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    width: 35%;
    height: 95vh;
    padding-top: 20px;
    background-color: white;
}
.image{
    display: flex;
    justify-content: center;

}
.create{
    font-weight: bold;
    font-size: 30px;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 6px;

}
.form >label {
    display: flex;
    flex-direction: row;
}
.inputs{
    display: flex;
    height: 8vh;
    width: 90%;
    margin: 6px;
    border-radius: 5px;
}
.checkBox{
    display: flex;
    gap: 3px;

}
.login{
    display: flex;
    gap: 5px;
    justify-content: center;
}
.button{
    display: flex;
    justify-content: center;
}